.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    color: black;
}

.skip-navigation {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    color: black;
}
.skip-navigation h2{
    color: black;
}

.skip:focus {
    position: static;
    width: auto;
    height: auto;
}

#home {
    text-align: right;
    margin-top: 10px;

}

h1 {
    font-family: "Ribeye", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: "Notable", sans-serif;
    font-weight: 400;
    font-style: normal;
}


h4{
    font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


@media(min-width:1200px) {
    html {
        height: 100%;
        width: 80%;
        margin: 0 auto;
    }

    nav {
        padding: 8px;
        display: flex;
        justify-content: space-evenly;
        position: sticky;
        top: 0;
        background-color: #017F4D;
    }

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }

    nav a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding: .2em .5em;
        margin: 0 20pt;
        text-align: left;
    }

    nav ul li a:hover {
        color: black;
        border-bottom: 2px solid #00E092;
        transition: color 0.3s, border-bottom 0.3s;
    }

    h1 {
        text-align: right;
        font-size: 40pt;
        color: #017F4D;
        margin-right: 20pt;
        
    }

    h2 {
        margin: 12pt;
        font-size: 20pt;
        color: rgb(255, 255, 255);
    }
    h3{
        color: rgb(166, 250, 160); 
        font-size: 16pt;
    }

    p {
        margin-top: 45pt;
        font-size: 12pt;
        line-height: 2.4em;
        color: #ffffff;
    }

    #MainContent{
         display: block;
        text-align: center;
        padding: 20pt;
        margin-top: 10pt; 
       
    }

    #about{
        background-color: #afcda0;
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        
    }
    #about p{
        color:black; 
    }
    #about h2{
        color:black; 
    }

    #what{
        background-color: #656565;
        display: block;
        text-align: center;
        padding: 20pt;
        margin-top: 10pt; 
    }


}

@media(max-width:1200px) {
    html {
        height: 100%;
        width: 90%;
        margin: 0 auto;
    }

    nav {
        padding: 8px;
        display: flex;
        justify-content: space-evenly;
        position: sticky;
        top: 0;
        background-color: #017F4D;
    }

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }

    nav a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding: .2em .5em;
        margin: 0 10pt;
        text-align: left;
    }

    nav ul li a:hover {
        color: black;
        border-bottom: 2px solid #00E092;
        transition: color 0.3s, border-bottom 0.3s;
    }

    h1 {
        text-align: right;
        font-size: 25pt;
        color: #017F4D;
        margin-right: 20pt;
    }

    h2 {
        
        font-size: 16pt;
        color: rgb(255, 255, 255);
    }
    h3{
        color: rgb(166, 250, 160); 
        font-size: 14pt;
    }

    p {
        margin-top: 25pt;
        font-size: 11pt;
        line-height: 2.4em;
        color: #ffffff;
        text-align: left;
    }

    #MainContent{
        display: block;
       text-align: center;
       padding: 20pt;
       margin-top: 10pt; 
      
   }

   #about{
       background-color: #afcda0;
       padding: 20px;
       margin-top: 10px;
       margin-bottom: 10px;
       
   }
   #about p{
       color:black; 
   }
   #about h2{
       color:black; 
   }

   #what{
       background-color: #656565;
       display: block;
       text-align: center;
       padding: 20pt;
       margin-top: 10pt; 
   }

   img{
    width: 100%; 
    text-align: center;
   }
}