.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    color: black;
}

.skip-navigation {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    color: black;
}
.skip-navigation h2{
    color: black;
}

.skip:focus {
    position: static;
    width: auto;
    height: auto;
}

#home {
    text-align: right;
    margin-top: 10px;

}

h1 {
    font-family: "Ribeye", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: "Notable", sans-serif;
    font-weight: 400;
    font-style: normal;
}


h4{
    font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

ul{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

li{
    list-style-type: none;
    line-height: 2em;
    text-align: left;
}




@media(min-width:1000px) {
    html {
        height: 100%;
        width: 80%;
        margin: 0 auto;
    }

    nav {
        padding: 8px;
        display: flex;
        justify-content: space-evenly;
        position: sticky;
        top: 0;
        background-color: #017F4D;
    }

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }

    nav a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding: .2em .5em;
        margin: 0 20pt;
        text-align: left;
    }

    nav ul li a:hover {
        color: black;
        border-bottom: 2px solid #00E092;
        transition: color 0.3s, border-bottom 0.3s;
    }

    h1 {
        text-align: right;
        font-size: 40pt;
        color: #017F4D;
        margin-right: 20pt;

    }

    h2 {
        margin: 18pt;
        font-size: 25pt;
        color: rgb(255, 255, 255);
    }

    h3 {
        text-align: left;
        font-size: 18pt;
    }

    p {
        font-size: 14pt;
        line-height: 1.7em;
        color: #000000;
        text-align: left;
        margin-left: 20px;

    }

    #Title {
        background-color: #656565;
        display: block;
        text-align: center;
        padding: 20pt;
        margin-top: 10pt;

    }

    #goodDesign {
        background-color: #afcda0;
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    #Framework,
    #DesignThinking,
    #UsingThinking {
        background-color: #afcda0;
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

    #gridA {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #gridB {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }

    img {
        padding: 15px;
    }

    #Color_Font{
        background-color: #afcda0;
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .PARA{
        margin-top: 300pt;
        display: inline;
        margin-left: 30px;
    }

}


@media(max-width:1000px) {
    html {
        height: 100%;
        width: 80%;
        margin: 0 auto;
    }

    nav {
        padding: 8px;
        display: flex;
        justify-content: space-evenly;
        position: sticky;
        top: 0;
        background-color: #017F4D;
    }

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }

    nav a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding: .2em .5em;
        margin: 0 10pt;
        text-align: left;
    }

    nav ul li a:hover {
        color: black;
        border-bottom: 2px solid #00E092;
        transition: color 0.3s, border-bottom 0.3s;
    }

    h1 {
        text-align: right;
        font-size: 40pt;
        color: #017F4D;
        margin-right: 20pt;
    }

    h2 {
        margin: 18pt;
        font-size: 25pt;
        color: rgb(255, 255, 255);
    }

    h3 {
        text-align: left;
        font-size: 18pt;
    }

    p {
        font-size: 12pt;
        line-height: 1.7em;
        color: #000000;
        text-align: left;
        margin-left: 20px;

    }

    #Title {
        background-color: #656565;
        display: block;
        text-align: center;
        padding: 20pt;
        margin-top: 10pt;

    }


    #goodDesign,
    #Color_Font {
        background-color: #afcda0;
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    #Framework,
    #DesignThinking,
    #UsingThinking {
        background-color: #afcda0;
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

    #gridA img {
        width: 300px;

    }

    #gridB {}

    img {
        padding: 15px;
    }

    #Color_Font img {
        width: 300px;
    }
}