.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    color: black;
}

.skip-navigation {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    color: black;
}

.skip:focus {
    position: static;
    width: auto;
    height: auto;
}

#home {
    text-align: right;
    margin-top: 10px;

}

h1 {
    font-family: "Ribeye", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: "Notable", sans-serif;
    font-weight: 400;
    font-style: normal;
}


h4{
    font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@media(min-width:1000px) {
    html {
        height: 100%;
        width: 80%;
        margin: 0 auto;
    }

    nav {
        padding: 8px;
        display: flex;
        justify-content: space-evenly;
        position: sticky;
        top: 0;
        background-color: #017F4D;
    }

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }

    nav a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding: .2em .5em;
        margin: 0 20pt;
        text-align: left;
    }

    nav ul li a:hover {
        color: black;
        border-bottom: 2px solid #00E092;
        transition: color 0.3s, border-bottom 0.3s;
    }

    h1 {
        text-align: right;
        font-size: 40pt;
        color: #017F4D;
        margin-right: 20pt;
        font-family: "Ribeye", serif;
        font-weight: 400;
        font-style: normal;
    }

    h2 {
        margin: 18pt;
        font-size: 25pt;
        font-family: "Notable", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: rgb(255, 255, 255);
    }

    h3{
        text-align: left;
        font-size: 18pt;
    }

    p {
        font-size: 14pt;
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        line-height: 1.7em;
        color: #000000;
        text-align: left;
        margin-left: 20px;
        
    }

    #Title{
        background-color: #656565;
        display: block;
        text-align: center;
        padding: 20pt;
        margin-top: 10pt; 
       
    }

    #background p {
        text-align: center;
    }
    
    #principle1, #principle2, #principle3, #principle4, #principle5, #principle6, #principle7 {
        background-color: #afcda0;
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 10px; 

    }

    #gridP{
        display: grid;
        grid-template-columns: 1fr  1fr;
    }

    img{
        padding: 15px; 
    }
}


@media(max-width:1000px) {
    html {
        height: 100%;
        width: 80%;
        margin: 0 auto;
    }

    nav {
        padding: 8px;
        display: flex;
        justify-content: space-evenly;
        position: sticky;
        top: 0;
        background-color: #017F4D;
    }

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }

    nav a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding: .2em .5em;
        margin: 0 10pt;
        text-align: left;
    }

    nav ul li a:hover {
        color: black;
        border-bottom: 2px solid #00E092;
        transition: color 0.3s, border-bottom 0.3s;
    }

    h1 {
        text-align: right;
        font-size: 40pt;
        color: #017F4D;
        margin-right: 20pt;

    }

    h2 {
        margin: 18pt;
        font-size: 25pt;
        font-family: "Notable", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: rgb(255, 255, 255);
    }

    h3{
        text-align: left;
        font-size: 14pt;
    }

    p {
        font-size: 12pt;
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        line-height: 1.7em;
        color: #000000;
        text-align: left;
        margin-left: 20px;
        
    }

    #Title{
        background-color: #656565;
        display: block;
        text-align: center;
        padding: 20pt;
        margin-top: 10pt; 
       
    }

    #background p {
        text-align: center;
    }
    
    #principle1, #principle2, #principle3, #principle4, #principle5, #principle6, #principle7 {
        background-color: #afcda0;
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 10px; 

    }

    img{
        padding: 10px; 
        width: 250px;
    }
}