.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    color: black;
}

.skip-navigation {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    color: black;
}
.skip-navigation h2{
    color: black;
}

.skip:focus {
    position: static;
    width: auto;
    height: auto;
}

#home {
    text-align: right;
    margin-top: 10px;

}

h1 {
    font-family: "Ribeye", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: "Notable", sans-serif;
    font-weight: 400;
    font-style: normal;
}


h4{
    font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

ul{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#barriers li{
    list-style-type: square;
    line-height: 2em;
}

#WCAG li{
    list-style-type: none;
    line-height: 2em;
}

@media(min-width:1000px) {
    html {
        height: 100%;
        width: 80%;
        margin: 0 auto;
    }

    nav {
        padding: 8px;
        display: flex;
        justify-content: space-evenly;
        position: sticky;
        top: 0;
        background-color: #017F4D;
    }

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }

    nav a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding: .2em .5em;
        margin: 0 20pt;
        text-align: left;
    }

    nav ul li a:hover {
        color: black;
        border-bottom: 2px solid #00E092;
        transition: color 0.3s, border-bottom 0.3s;
    }

    #Title h2{
        color: white;
    }

    h1 {
        text-align: right;
        font-size: 40pt;
        color: #017F4D;
        margin-right: 20pt;
       
    }

    h2 {
        margin: 18pt;
        font-size: 25pt;
        color: rgb(0, 0, 0);
    }

    h3 {
        text-align: left;
        font-size: 18pt;
    }

    h4 {
        text-align: center;
        padding: none;
        font-size: 14pt;

    }

    div {
        text-align: center;
        margin: 10pt;
        background-color: #afcda0;
    }

    div p{
        text-align: center;
        padding: 10px;
        margin-left:0pt;
    }

    p {
        font-size: 14pt;
        line-height: 1.7em;
        color: #000000;
        text-align: left;
        margin-left: 20px;

    }

    #Title {
        background-color: #656565;
        display: block;
        text-align: center;
        padding: 20pt;
        margin-top: 10pt;

    }

    #DisabilityStat {
        background-color: #afcda0;
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    #abilityGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    img {
        padding: 2px;
    }

    #WCAG {
        background-color: #afcda0;
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 10px;

        display: grid;

    }

    #WCAG p {
        font-size: 12pt;
    } 

    #barriers {
        background-color: #afcda0;
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 10px;

        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #barriers img {
        width: 300pt;
        margin-top: 30pt;
    }

    #readMore {
        text-align: center;
        text-decoration: none;
        font-size: 16pt;
        background-color: #afcda0;
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    
    }
    #readMore h3 {
        text-align: center;
    }

}

@media(max-width:1000px) {
    html {
        height: 100%;
        width: 80%;
        margin: 0 auto;
    }

    nav {
        padding: 8px;
        display: flex;
        justify-content: space-evenly;
        position: sticky;
        top: 0;
        background-color: #017F4D;
    }

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }

    nav a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding: .2em .5em;
        margin: 0 10pt;
        text-align: left;
    }

    nav ul li a:hover {
        color: black;
        border-bottom: 2px solid #00E092;
        transition: color 0.3s, border-bottom 0.3s;
    }

    #Title h2{
        color: white;
    }

    h1 {
        text-align: right;
        font-size: 40pt;
        color: #017F4D;
        margin-right: 20pt;
       
    }
    

    h2 {
        margin: 16pt;
        font-size: 25pt;
        color: rgb(0, 0, 0);
    }

    h3 {
        text-align: left;
        font-size: 18pt;
    }

    h4 {
        text-align: center;
        padding: none;
        font-size: 12pt;

    }

    div {
        text-align: center;
        margin: 10pt;
        background-color: #afcda0;
    }

    div p{
        text-align: center;
        padding: 10px;
        margin-left:0pt;
    }

    p {
        font-size: 12pt;
        line-height: 1.7em;
        color: #000000;
        text-align: left;
        margin-left: 20px;

    }

    #Title {
        background-color: #656565;
        display: block;
        text-align: center;
        padding: 20pt;
        margin-top: 10pt;

    }

    #DisabilityStat {
        background-color: #afcda0;
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    

    }

    #abilityGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-left: 0pt;
        text-align: center;
    }

    #abilityGrid img{
        width: 150px; 
    }

    img {
        padding: 8px;
    }

    #WCAG {
        background-color: #afcda0;
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 10px;

        display: grid;

    }

    #WCAG p {
        font-size: 12pt;
    } 

    #barriers {
        background-color: #afcda0;
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;

    } 

    #barriers img {
        width: 200pt;
        margin-top: 30pt;
    }

    #readMore {
        text-align: center;
        text-decoration: none;
        font-size: 16pt;
        background-color: #afcda0;
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    
    }
    #readMore h3 {
        text-align: center;
    }

}

