
html{
    margin-left: 8em; 
    margin-right: 8em;
    margin-bottom: 4em;  
    margin-top: 4em; 
    background-color: rgb(230, 231, 231);

}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

p{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    margin-left: 15px;
    font-size: 14pt;
    line-height: 1.5em;
    margin:0; 
    padding-left: 10px;
    max-width: 65ch;
}

h1{
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
}
  
h2{
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24pt;
}

h3{
    text-align: right;
    margin: 30px;
    font-size: 18pt;
}




.back{
    display: inline-grid;
    grid-template-columns: 2fr 1fr ;
    gap:20px;
}

.etym{
    display:grid; 
    grid-template-columns: 3fr 1fr;
    
}

.tax{
    display: inline flex;
    gap:10pt; 
}
.tax img{
    margin-top: 60pt;
    height: 290px; 
}
.tax p{
    margin-right: 20pt;
}

.evo{
    display:grid; 
    grid-template-columns: 2fr 1fr;
    gap: 15pt;
}

.skeleton{
    display:grid; 
    grid-template-columns: 3fr 1fr;
    
}
.skeleton img{
    width: 550px;
    margin-top: 35pt;
    margin-left: 20pt;
}



.ears{
    display:grid; 
    grid-template-columns: 1fr 5fr;
}

.trunk{
    display:grid; 
    grid-template-columns: 1fr 5fr;
}

.teeth{ 
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.tusk{ 
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.skin{ 
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.locomotion{ 
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.internal{ 
    display: grid;
    grid-template-columns: 1fr 5fr;
}

button {
    margin-top: 100pt;
    background-color: rgb(188, 188, 203);
    border: none;
    padding: 15pt;
    display: block;
    margin-left: auto;
    margin-right: 0;
}